/* CSS Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: url("../images/bg14.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* background-color: rgb(192, 159, 159); */
  height: 100vh;
}

.container h1 {
  margin-bottom: 1rem;
  color: white;
  margin-right: 4rem;
  font-size: 2rem;
  font-weight: bolder;
}

.box {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 4rem;
}

.box .error {
  color: #ff6a00;
  text-align: right;
  margin-left: 2rem;
}
.box .success {
  color: #7ef740;
  text-align: right;
}

.box label {
  color: #fbff00;
  font-weight: bolder;
}

.box input {
  height: 30px;
  /* border-radius: 20px; */
  outline: none;
  border: none;
  /* width: 80%; */
  margin: 0.5rem 0rem;
}

.box div {
  text-align: center;
}

.box .preference {
  text-align: left;
  display: flex;
  align-items: center;
  color: white;
}

.box .preference input[type="radio"] {
  margin: 0rem 1rem;
}

.box button {
  margin-top: 1rem;
  height: 30px;
  width: 60%;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 0.5rem 0.5rem;
  background: rgb(211, 152, 43);
  color: white;
  cursor: pointer;
}

.box button:hover {
  background-color: rgb(223, 222, 222);
  color: black;
}

.box h4 {
  color: white;
  font-size: 1.2rem;
}

.box a {
  color: rgb(211, 152, 43);
  /* text-decoration: none; */
}
