/* CSS Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: url("../images/resto-login.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background-color: rgb(192, 159, 159); */
  height: 100%;
}

.container h1 {
  /* margin-bottom: 1rem; */
  color: white;
  margin-left: 4rem;
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 3rem 0rem;
  margin-left: 4rem;
  margin-bottom: 5rem;
}

.box .error {
  color: #ff6a00;
  /* text-align: right; */
  margin-left: 2rem;
}

.box label {
  color: #fbff00;
  font-weight: bolder;
  /* margin: 0.2rem 0rem; */
}

.box input {
  height: 30px;
  /* border-radius: 20px; */
  outline: none;
  border: none;
  margin: 0.5rem 0rem;
}

.box div {
  text-align: center;
}

.box .preference {
  text-align: left;
  display: flex;
  align-items: center;
  color: white;
}

.box .preference input[type="radio"] {
  margin: 0rem 1rem;
}

.box button {
  margin: 1rem 0rem;

  border-radius: 20px;
  outline: none;
  border: none;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  background: rgb(211, 152, 43);
  color: white;
  font-size: 1rem;
  /* line-height: 30px; */
}

.box button:hover {
  background-color: rgb(223, 222, 222);
  color: black;
}

.box .login-btn {
  padding: 0.5rem 4rem;
}

.box h4 {
  color: white;
  font-size: 1.2rem;
}

.box a {
  color: #fcff49;
  /* text-decoration: none; */
}

/* CSS for Responsiveness */
@media (max-width: 600px) {
  .container {
    align-items: center;
  }

  .container h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-left: 0;
  }

  .box {
    width: 50%;
    margin-top: 2rem;
    margin-left: 0;
  }

  .box h4 {
    font-size: 1rem;
  }
}
