/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Foods Section */
.second-section {
  margin-bottom: 2rem;
  min-height: 100%;
}

.second-section .first-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second-section h4 {
  margin: 2rem;
}

.second-section .logout {
  /* margin: 2rem; */
}

.second-section .logout a {
  color: black;
  margin: 2rem;
  /* color: #dba225; */
  border: 1px solid black;
  text-align: center;
  padding: 0.2rem 1rem;
}

.second-section .logout a:hover {
  background: #dba225;
  color: white;
  border: none;
}

.second-section .section-title {
  text-align: center;
  margin: 1rem 0rem;
}

.second-section .more-link {
  text-align: center;
  margin-bottom: 4rem;
}

.second-section .more-link a {
  padding: 0.7rem 2rem;
  background-color: #dba225;
  /* border: 1px solid black; */
  border-radius: 20px;
  text-decoration: none;
  color: white;
  border: none;
}

.second-section .more-link a:hover {
  background-color: rgb(211, 152, 43);
}

.restaurants {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0rem 5rem;
}

.restaurant {
  display: flex;
  background-color: rgb(235, 235, 235);
  margin: 0.5rem 0.5rem;
  width: 18%;
  height: 20%;
  border-radius: 10px;
  flex-direction: column;
  padding-bottom: 1rem;
  justify-content: center;
  /* margin-bottom: 5rem; */
}

.restaurant img {
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.restaurant h1 {
  text-align: center;
}

.restaurant p {
  text-align: center;
  margin: 0rem 0rem;
}

.restaurant div {
  text-align: center;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity button {
  width: 50px;
  margin: 0.5rem 0.5rem;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.quantity input {
  width: 100px;
  text-align: center;
  margin: 0.5rem 0.5rem;
  height: 30px;
  font-size: 1rem;
  outline: none;
  /* border: none; */
}

.price {
  display: flex;
  justify-content: center;
}

.restaurant div .btn-order {
  width: 80%;
  padding: 0.5rem;
  outline: none;
  border-radius: 20px;
  /* border: 1px solid black; */
  border: none;
  cursor: pointer;
  background-color: #dba225;
  color: white;
}

.restaurant div .btn-order:hover {
  background-color: rgb(211, 152, 43);
}

.restaurant div a {
  color: white;
}

/* CSS for Responsiveness */
@media (max-width: 600px) {
  .restaurants {
    flex-direction: column;
    margin: 0rem 0rem;
    align-items: center;
  }
  .restaurant {
    width: 60%;
  }
}

@media (min-width: 600px) {
  .restaurants {
    /* flex-direction: column; */
    margin: 0.5rem 0rem;
    align-items: center;
  }
  .restaurant {
    width: 20%;
  }
}
