/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Footer Style */
footer {
  display: flex;
  background-color: rgb(235, 235, 235);
  bottom: 0;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* margin: 0rem 2rem; */
  justify-content: space-evenly;
}

.sub-section {
  width: 10%;
  padding: 1rem;
  /* margin-right: 1rem; */
}

/* .sub-section h4 {
  margin: 0;
} */

/* .sub-section ul {
  padding: 0;
  margin: 0;
} */

.sub-section ul li {
  list-style: none;
  padding: 0.2rem 0rem;
}

.sub-section ul li a {
  text-decoration: none;
}

/* CSS for Responsiveness */
@media (max-width: 600px) {
  footer {
    text-align: center;
  }
  .footer {
    flex-direction: column;
  }

  .sub-section {
    /* margin: 0; */
    width: 100%;
  }
}
