/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Style */
#logo {
  color: rgb(211, 152, 43);
  font-size: 2.5rem;
  font-weight: bolder;
}
#logo:after {
  content: "shala";
  color: white;
}

a {
  text-decoration: none;
}

#navbar {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  /* opacity: 0.7; */
}

#nav-items {
  display: flex;
  margin-left: auto;
  align-items: center;
}

#nav-items li {
  list-style: none;
}

#nav-items li a {
  text-decoration: none;
  padding: 0.5rem 2rem;
  color: white;
  font-size: 1.3rem;
  font-weight: bolder;
}

#nav-items li a:hover {
  background: white;
  border-radius: 20px;
  color: black;
}

#nav-items-login {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#nav-items-login li {
  color: white;
  list-style: none;
}

.logout-btn {
  margin: 2rem;
  color: black;
  border: 1px solid black;
  height: 50px;
  width: 100px;
  text-align: center;
  line-height: 50px;
  background: white;
  padding: 0.2rem 1rem;
}

.logout-btn:hover {
  background: #dba225;
  color: white;
  border: none;
}

/* CSS for Responsiveness */
@media (max-width: 600px) {
  #logo {
    font-size: 1.5rem;
  }
  #navbar {
    padding: 0.5rem 0.5rem;
  }
  #nav-items li a {
    padding: 0.2rem 1rem;
    font-size: 1rem;
  }
  .box {
    margin: 1rem 1rem;
  }
  .box h1 {
    margin: 0.5rem;
  }
  .primary-heading {
    font-size: 2rem;
  }

  element.style {
  }
  .logout-btn {
    margin: 0.5rem;
  }
}

@media (min-width: 600px) {
  #logo {
    font-size: 3rem;
  }
  #navbar {
    padding: 1rem 1rem;
  }
  #nav-items li a {
    padding: 0.2rem 1rem;
    font-size: 1.5rem;
  }
  .box {
    margin: 1rem 1rem;
  }
  .box h1 {
    margin: 0.5rem;
  }
  .primary-heading {
    font-size: 3rem;
  }
}
