* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: url(../images/resto-bg-4.jpg);
  background-size: cover;

  min-height: 100%;
}

.container-c {
  background: url(../images/order-bg.jpg);
  background-size: cover;

  min-height: 100%;
}

.msg {
  text-align: center;
}

.header-menu {
  margin: 0rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu h2 {
  color: white;
}

.box {
  display: flex;

  align-items: flex-start;
  flex-direction: column;
}

.box1 {
  margin: 0rem 2rem;
}

.box2 {
  /* width: 50%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 2rem;
}

.box2 h2 {
  color: white;
}

.msg h4 {
  color: #1afa21;
  font-weight: bolder;
  font-size: 1.2rem;
}

.box1 ul {
  display: flex;
  padding: 8rem 4rem;
  flex-wrap: wrap;
}

.box1 ul li {
  background-color: rgb(235, 235, 235);
  margin: 1rem 1rem;
  list-style: none;
  padding: 1rem;
  background-color: #dba225;
  border-radius: 20px;
  /* width: 50%; */
}

.box1 ul li a {
  color: white;
  font-weight: bolder;
  font-size: 1.2rem;
}

.box1 ul li:hover {
  /* background: rgb(235, 235, 235); */
  background: rgb(211, 152, 43);
}

.box2 ul h1 {
  color: #46eb46;
}

.box2 ul li {
  color: white;
  list-style: none;
}

.logout a {
  /* margin: 2rem; */
  color: black;
  border: 1px solid black;
  height: 50px;
  width: 100px;
  text-align: center;
  line-height: 50px;
  padding: 0.2rem 1rem;
  background: white;
}

.logout a:hover {
  background: #dba225;
  color: white;
}

/* CSS for Responsiveness */

@media (max-width: 600px) {
  .box2 h2 {
    font-size: 1rem;
  }
}
