/* Reset margin, padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background */
.background {
  background: url("../images/home.jpg");
  background-size: cover;
}

/* Main Section Style */
#main-section {
  height: 400px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 4rem;
  color: white;
}

.box h1 {
  margin: 2rem;
}

.box p {
  font-size: 1.3rem;
  /* color: #dba225; */
}

.box button {
  margin: 2rem;
  padding: 0.7rem 2rem;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #dba225;
  color: white;
  cursor: pointer;
}

.box button:hover {
  background-color: rgb(223, 222, 222);
  color: black;
}

.second-section .section-title {
  text-align: center;
  margin: 1rem 0rem;
}

.second-section .more-link {
  text-align: center;
  margin-bottom: 4rem;
}

.second-section .more-link a {
  padding: 0.7rem 2rem;
  background-color: #dba225;
  /* border: 1px solid black; */
  border-radius: 20px;
  text-decoration: none;
  color: white;
  border: none;
}

.second-section .more-link a:hover {
  background-color: rgb(211, 152, 43);
}

/* Utility Style */
.primary-heading {
  font-size: 4rem;
  color: #dba225;
}

.secondary-heading {
  font-size: 2rem;
}
