/* Reset margin, padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background */
.background {
  background: url("../images/bg7.jpg");
  background-size: cover;
}

/* Main Section Style */
#main-section {
  height: 400px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 4rem;
  color: white;
}

.box h1 {
  margin: 2rem;
}

.box p {
  font-size: 1.3rem;
}

.box button {
  margin: 2rem;
  padding: 0.7rem 2rem;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #dba225;
  color: white;
  cursor: pointer;
}

.box button:hover {
  background-color: rgb(223, 222, 222);
  color: black;
}

/* Foods Section */
.second-section {
  /* margin-bottom: 8rem; */
}
.second-section .section-title {
  text-align: center;
  margin: 1rem 0rem;
}

.second-section .more-link {
  text-align: center;
  margin-bottom: 4rem;
}

.second-section .more-link a {
  padding: 0.7rem 2rem;
  background-color: #dba225;
  /* border: 1px solid black; */
  border-radius: 20px;
  text-decoration: none;
  color: white;
  border: none;
}

.second-section .more-link a:hover {
  background-color: rgb(211, 152, 43);
}

.restaurants {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.restaurant {
  display: flex;
  background-color: rgb(235, 235, 235);
  margin: 1rem;
  width: 18%;
  border-radius: 10px;
  flex-direction: column;
  padding-bottom: 1rem;
  justify-content: center;
}

.restaurant img {
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.restaurant h1 {
  text-align: center;
  padding: 0.5rem 0rem;
}

.restaurant p {
  text-align: center;
  margin: 0.5rem 0rem;
}

.restaurant div {
  text-align: center;
}

/* Utility Style */
.primary-heading {
  font-size: 4rem;
}

.secondary-heading {
  font-size: 2rem;
}
