* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: url(../images/resto-bg-4.jpg);
  background-size: cover;
  min-height: 100%;
}

.box2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 2rem;
}

.box2 h2 {
  color: white;
}

.logout a {
  color: black;
  border: 1px solid black;
  height: 50px;
  width: 100px;
  text-align: center;
  line-height: 50px;
  padding: 0.2rem 1rem;
  background: white;
}

.logout a:hover {
  background: #dba225;
  color: white;
}

.table-h td {
  background: rgb(210 126 54);
  font-weight: bolder;
  color: white;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table tr {
  background: white;
}

.table tr td {
  width: 100px;
  height: 25px;
  text-align: center;
}

.user-name {
  color: white;
  text-decoration: underline;
}

h2 {
  text-align: center;
  color: white;
}

/* CSS for Responsiveness */
@media (max-width: 600px) {
  .box2 h2 {
    font-size: 1rem;
  }
}
